    <p id="intro">
        <br />giveTo is free, fun and easy. Sign up now to give back to your community.<br /><br />
    </p>
	<div id="signUpForm">
		
		<%= form_for(@user) do |f| %>
		 <% # render 'shared/error_messages' %>
		<table class="signUpTable">
		<tr>
			<td><%= f.label :first_name %></td>
			<td><%= f.text_field :first_name, :size => 30 %></td>
		</tr>
		<tr>
			<td><%= f.label :last_name %></td>
			<td><%= f.text_field :last_name, :size => 30 %></td>
		</tr>
		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.text_field :email, :size => 30 %></td>
		</tr>
		<tr>
			<td><%= f.label :phone %></td>
			<td><%= f.text_field :phone, :size => 30 %></td>
		</tr>
		<tr>
			<td><%= f.label :password, "Password (6 character minimum)" %></td>
			<td><%= f.password_field :password, :size => 30 %></td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation, "Re-enter password" %></td>
			<td><%= f.password_field :password_confirmation	, :size => 30 %></td>
		</tr>
		<tr>
			<td class="centerIt" colspan="2">
				<% #image_submit_tag "../images/submitButtonFancy.png" %>
				<%= f.submit "", { :id => "sign_up_button" } %>
			</td>
		</tr>
		<% end %>
		</table>
	</div>
   <!-- <div id="mainForm">
        <form method="post" action="" name="fullSignInForm" id="fullForm">
        <p><label for="fullName">full name: </label> <input type="text" name="fname" id="fullName" size="30" /></p>
        <p><label for="nEmail">email: </label><input type="text" name="newEmail" id="nEmail" size="30" /></p>
        <p><label for="pw1">password: </label><input type="password" name="newPw1" id="pw1" size="30" /></p>
        <p><label for="pw2">re-enter password: </label><input type="password" name="newPw2" id="pw2" size="30" /></p>
        <p><label for="org">affiliated organization (if any): </label><input type="text" name="newOrg" id="org" size="30" /></p>
        <p><label for="zip">zipcode: </label><input type="text" name="newZip" id="zip" size="30" /></p>
            <input class="submitButton" id="submitBig" type="submit" value="Sign me up!" />
        </form>
    </div>-->