<div class="insideDiv">
	<h1>Hello, <%= @user.first_name %>!</h1>
	<h3 class="headerBar">Your Opportunities:</h3>
	
	<% unless @events.empty? %>
		<div class="tiles">
		<%= @events.each do |e| %>
			<a href="events/show/<%= e.id %>"><%= Date.strptime(str = e.start_time, fmt = '%m/%d/%Y') %>: <%= e.name %> </a>
		<% end %>
		</div>
		<span class="smallButton">Find More Opportunities</span>
	<% end %>	
</div>