<div class="insideDiv">
	<h3 class="headerBar">All Available Opportunities: </h3>
	<span style="float: right; padding-top: 5px; padding-bottom: 5px;" id="display_nav">List | <a href="/events/calendar">Calendar</a></span>
	<div class="clear"></div>
	<a class="fancy_button" href="/events/new" style="float: right;">
	  <span style="background-color: #0071bc;">Create an event</span>
	</a>
	<table class="eventDisplay" id="allOppTable">
		<tr>
			<th>Date</th><th>Name</th><th>Host</th><th>Category</th><th>Volunteers needed</th>
		</tr>
		<% @events.each do |event| %>
			<tr>
				<td><%= event.start_time.strftime("%m/%d/%Y") %></td>
				<td><a href="/events/show/<%= event.id %>"><%= event.name %></a></td>
				<td><%= event.organization %></td>
				<td><%= event.rso_type %></td>
				<td><%= event.volunteers_needed - event.attendees.count %></td>
			</tr>
		<% end %>
	</table>	
</div>