<div class="insideDiv">
	<h3 class="headerBar">All Available Opportunities:</h3>
	<table class="eventDisplay" id="allOppTable">
		<tr>
			<th>Date</th><th>Name</th><th>Host</th><th>Category</th>
		</tr>
		<%= @events.each do |event| %>
			<tr>
				<td><%= event.strftime("%m/%d/%Y") %></td>
				<td><%= event.name %></td>
				<td><%= event.organization %></td>
				<td><%= event.rso_type %></td>
			</tr>
		<% end %>
	</table>	
</div>