<h1>Volunteer Events for <%= "#{@date.strftime('%B')} #{@date.year}" %></h1>
<table cellspacing="0" id="eventsCal">
	<thead>
		<tr>
			<th>Sun</th>
			<th>Mon</th><th>Tue</th><th>Wed</th>
			<th>Thu</th><th>Fri</th><th>Sat</th>
			
		</tr>
	</thead>
	<tbody>
		<tr>
		<%
		# what day of hte week it is 0-6
		running_day = @date.wday
		days_in_months = days_in_month(@date.month,@date.year)		
		days_in_this_week = 0
		%>
		
		<% for x in 0..(running_day-1) do %>
			<td class="padding" colspan="1"></td>
		<% days_in_this_week+=1 %>
		<% end %>
		
		<% for list_day in 1..days_in_months do %>
			<% 
			list_day_string = list_day.to_s()
			current_date_string = @date_string + list_day_string 
			current_date = Date.strptime(str = current_date_string, fmt = '%m%Y%d') 
			%>
			<td><%= list_day %>
			<div class="events">
				<ul>
			<% @events.each do |e| %>
				<% event_date = e.start_time.to_date %>
				<% if event_date == current_date %>
					<li class="<%=e.rso_type %>">
						<span class="title"><%= e.name %></span>
						<span class="desc"><%= e.location %></span>
					</li>				
				<% end %>
			<% end %>
				</ul>
			</div>
		</td>
		
			<% if(days_in_this_week) >= 7 %>
				<% days_in_this_week = 0 %>
				</tr>
				<tr>
			<% end %>

			<% if(running_day == 6 && list_day != days_in_months) %>
				</tr> 
				<tr>
				<% 
					running_day = -1 
					days_in_this_week = 0
				%>
			<% end %>
			<%
			list_day+=1;
			days_in_this_week+=1;
			running_day+=1;
		%>
	<% end %>
		
		<% if(days_in_this_week < 8) %>
			<% for x in 1..8 - days_in_this_week do	%>
				<td class="padding" colspan="1"></td>
			<% end %>
		<% end %>

		</tr>
		</tbody>
		<tfoot>
			<th><a href="/events/calendar/<%= "#{@minus1year.strftime('%m%Y')}" %>"> << </a>
			<th><a href="/events/calendar/<%= "#{@minus1month.strftime('%m%Y')}" %>"> < </a>
			<th></th>
			<th></th>
			<th></th>
			<th><a href="/events/calendar/<%= "#{@plus1month.strftime('%m%Y')}" %>"> > </a>
			<th><a href="/events/calendar/<%= "#{@plus1year.strftime('%m%Y')}" %>"> >> </a>

	</tfoot>
</table>
<form id="filter_form">
	<input type="checkbox" name="Business"   /><label for="Business">Business</label>
	<input type="checkbox" name="rso2"   /><label for="RSO1">RSO2</label>
	<input type="checkbox" name="rso3"   /><label for="RSO1">RSO3</label>
	<input type="checkbox" name="rso4"   /><label for="RSO1">RSO4</label>
</form>