<% @user ||= current_user %>
<p id="intro">
   <!-- giveTo is free, fun and easy. Sign up now to give back to your community.-->
</p>
<div id="mainForm">
	<%= form_for(@event) do |f| %>
		<h2>Register Volunteer Opportunity</h2>
		<div>
			<% #f.label :name %>
			<% #f.text_field :name, :size => 30 %>
		</div>
		<div>
			<% # f.label :user_email %>
			<% # f.text_field :user_email, :size => 30 %>
		</div>
		<div>
			<%= f.label :organization %>
			<br />
			<%= f.text_field :organization, :size => 30 %>
		</div>
		<br />
		<!--<h2>Information About Volunteer Opportunity</h2>-->
		<div>
			<%= f.label :name %>
			<br />
			<%= f.text_field :name, :size => 30 %>
		</div>
		<br />
		<div>
			<%= f.label :location %>
			<br />
			<%= f.text_field :location, :size => 30 %>
		</div>
		<br />
		<div>
			<% Time.zone = 'Pacific Time (US & Canada)' %>
			<%= f.label :start_time %>
			<br />
			<%= f.datetime_select :start_time, :size => 30 %>
		</div>
		<br />
		<div>
			<%= f.label :end_time %>
			<br />
			<%= f.datetime_select :end_time, :size => 30 %>
		</div>
		<br />
		<div>
			<%= f.label :volunteers_needed %>
			<br />
			<%= f.text_field :volunteers_needed, :size => 30 %>
		</div>
		<br />
		<div>
			<%= f.label :description %>
			<br />
			<%= f.text_area :description, :size => '30x10' %>
		</div>
		<br />
		<div>
			<%= f.label :rso_type %>
			<br />
			<%= f.select :rso_type,[["Academic", "Academic"],
															["Business", "Business"],
					                    ["Cultural/International", "Cultural"],
					                    ["Engineering", "Engineering"],
					                    ["Fraternities & Sororities", "Fraternities"],
					                    ["Health Sciences", "Health"],
															["Honorary", "Honorary"],
															["Law", "Law"],
															["Living Groups", "LivingGroups"],
															["Medical/Dental/Nursing", "Medical"],
					                    ["Performing", "Performing"],
					                    ["Political/Social Action", "Political"],
					                    ["Recreation", "Recreation"],
					                    ["Religious/Spiritual", "Religious"],
					                    ["Sciences", "Sciences"],
					                    ["Special Interest", "Special"],
					                    ["Sports", "Sports"]] %>
		</div>
		<br />
		<div>
			<%= f.hidden_field :user_id, { :value => @user.id } %>
		</div>
		<div class="centerIt">
			<%= image_submit_tag "../images/submitButtonFancy.png", { :id => "search_button" } %>
		</div>
	<% end %>
</div>
<script type = "text/javascript">
			document.getElementById("new_event").reset();
		</script>