<div class="insideDiv">
	<h3 class="headerBar"><%= @event.name %></h3>
	<table class="eventDisplay">
		<colgroup width="20%"></colgroup>
		<colgroup></colgroup>
		<tr>
			<td>Hosted by:</td><td><%= @event.organization %></td>
		</tr>
		<tr>
			<td>When:</td><td><%= @event.start_time.strftime("%m/%d/%Y") %></td>
		</tr>
		<tr>
			<td>Where:</td><td><%= @event.location %></td>
		</tr>
		<tr>
			<td>Volunteers needed:</td><td><%= @event.volunteers_needed %></td>
		</tr>
		<tr>
			<td>Description:</td><td><%= @event.description %></td>
		</tr>
		<tr>
			<td colspan="2">For more information contact <%= @event.organization %> at info@organization.com</td> <!-- field for email? -->
		</tr>
		<tr>
			<td colspan="2">
				<a class="fancy_button" href="/events/new">
				  <span style="background-color: #0071bc;">Add to my events</span>
				</a>
			</td>
		</tr>
	</table>
</div>