<h1><%= @event.name %></h1>
<ul>
	<li>Where: <%= @event.location %></li>
	<li>Start time: <%= @event.start_time %></li>
	<li>End time: <%= @event.end_time %></li>
	<li>Volunteers needed: <%= @event.volunteers_needed %></li>
</ul>