<div class="insideDiv">
	<h3 class="headerBar"><%= @event.name %></h3>
	<table class="eventDisplay">
		<colgroup width="20%"></colgroup>
		<colgroup></colgroup>
		<tr>
			<td>Hosted by:</td><td><%= @event.organization %></td>
		</tr>
		<tr>
			<td>When:</td><td><%= @event.start_time.strftime("%m/%d/%Y") %></td>
		</tr>
		<tr>
			<td>Where:</td><td><%= @event.location %></td>
		</tr>
		<tr>
			<td>Description:</td><td><%= @event.description %></td>
		</tr>
		<tr>
			<td colspan="2"><span id="smallerButton" class="smallButton">Add to My Events</span>
		</tr>
		<tr>
			<td colspan="2">for more information contact <%= @event.organization %> at gogreen@natureconsortium.com</td> <!-- field for email? -->
		</tr>
	</table>
</div>