<!DOCTYPE html>
<html>
	<head>
	  <title>giveTO</title>
	  <%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<%= yield %> 
		<%= render 'layouts/footer' %>
	</body>
</html>
